@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  padding: 30px 40px;
  z-index: 1;
  @include m.flex(space-between, center, row);
  transition-timing-function: ease-in;
  transition: all 0.5s;

  .nav__logo {
    position: fixed;
    left: 40px;
    width: 120px;
    object-fit: contain;
    // height: 100%;
  }
  .nav__avatar {
    position: fixed;
    right: 40px;
    width: 40px;
    // height: 100%;
    object-fit: contain;
  }
  .nav__input {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 4px;
    color: c.$C_WHITE;
    padding: 4px;
    border: none;
    &:focus {
      outline: none;
      border: 1px solid c.$C_WHITE;
      // outline-width: 1px;
      // outline-color: c.$C_WHITE;
    }
  }
}
.nav__black {
  background-color: c.$C_BLACK;
}
